/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; overflow-x: auto; overflow-y: hidden; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.center { text-align: center; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* Button */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); background: #eee; border: 1px solid #aaa; border-left: 1px solid #ccc; border-radius: 3px; border-top: 1px solid #ccc; color: #444; cursor: pointer; display: inline-block; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; font-weight: bold; line-height: normal; margin-bottom: 20px; moz-border-radius: 3px; padding: 4px 12px; padding: 8px 10px; text-decoration: none; text-shadow: 0 1px rgba(255, 255, 255, .75); webkit-border-radius: 3px; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); background: #ddd; border: 1px solid #888; border-left: 1px solid #aaa; border-top: 1px solid #aaa; color: #222; }
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); background: #ccc; border: 1px solid #666; }
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width { padding-left: 0 !important; padding-right: 0 !important; text-align: center; width: 100%; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Tabs */
ul.tabs { border-bottom: solid 1px #ddd; display: block; margin: 0 0 20px 0; padding: 0; }
ul.tabs li { display: block; float: left; height: 30px; margin-bottom: 0; padding: 0; width: auto; }
ul.tabs li a { background: #f5f5f5; border: solid 1px #ddd; border-width: 1px 1px 0 0; display: block; height: 29px; line-height: 30px; margin: 0; padding: 0px 20px; text-decoration: none; width: auto; cursor: pointer; }
ul.tabs li a.active { background: #fff; border-left-width: 1px; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #111; height: 30px; margin: 0 0 0 -1px; moz-border-radius-topleft: 2px; moz-border-radius-topright: 2px; padding-top: 4px; position: relative; top: -4px; webkit-border-top-left-radius: 2px; webkit-border-top-right-radius: 2px; cursor: default; }
ul.tabs li:first-child a.active { margin-left: 0; }
ul.tabs li:first-child a { border-top-left-radius: 2px; border-width: 1px 1px 0 1px; moz-border-radius-topleft: 2px; webkit-border-top-left-radius: 2px; }
ul.tabs li:last-child a { border-top-right-radius: 2px; moz-border-radius-topright: 2px; webkit-border-top-right-radius: 2px; }
ul.tabs-content { display: block; margin: 0; padding: 0; }
ul.tabs-content > li { display: none; }
ul.tabs-content > li.active { display: block; }
ul.tabs:before, ul.tabs:after { content: '\0020'; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
ul.tabs:after { clear: both; }
ul.tabs { zoom: 1; }

/* Forms */
input[type="text"], input[type="password"], input[type="email"], textarea, select { background: #fff; border: 1px solid #ccc; border-radius: 2px; color: #777; display: block; font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; margin-bottom: 20px; max-width: 100%; moz-border-radius: 2px; outline: none; padding: 6px 4px; webkit-border-radius: 2px; width: 210px; }
select { padding: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus { border: 1px solid #aaa; box-shadow: 0 0 3px rgba(0,0,0,.2); color: #444; moz-box-shadow: 0 0 3px rgba(0,0,0,.2); webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); }
textarea { min-height: 60px; }
select { width: 220px; }
input[type="checkbox"] { display: inline; }

/* Headings */
h1 { font-family:"Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;font-size:2em;line-height:1.5em;text-align:left;font-weight:400;margin:0 0 1.25em; }
h2 { font-family:"Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;font-size:1.3em;text-align:left;font-weight:400;line-height:1.8em;letter-spacing:.2em;text-transform:uppercase;margin:1em 0 1em; }
h2 + h3 { margin-top:1.5em; }
h3 { font-family:"Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;font-size:1.1em;text-align:left;font-weight:400;line-height:1.8em;letter-spacing:.2em;margin-bottom:1.4em;margin-top:3em;text-transform:uppercase; }
h4, h5, h6 { font-family:Verdana, "Bitstream Vera Sans", sans-serif;font-size:1em;text-align:left;font-weight:700;line-height:1.8em;margin:2em 0 0; }
h1 + h2, h6 + h2 { margin-top:2em; }
p + h3, pre + h3 { margin-top:4em; }
.light { color: #777; }

/* Site */
body { margin-top: 0; padding: 50px 0 0 0; font-family: Verdana, "Bitstream Vera Sans", sans-serif; line-height: 1.8em; text-align: left; font-size: 11px; color: #4A4A4A; }
.wrapper { width: 990px; margin: 0 auto; }
.box { width: 720px; float: right; }
.box-main { padding-bottom: 50px; }
header { width: 270px; float: left; position: fixed; letter-spacing: 2px; text-align: right; }
footer { width: 270px; float: left; position: fixed; bottom: 20px; text-align: right; color: #AAA; } 
        
a, a:visited, a:link { color: #4A4A4A; }
a:hover { color: black; text-decoration: none; background-color: #D1D1D1; }

.author { margin: 0 0 5em; }
.author strong { font-size: 1em; font-weight: normal; text-transform: uppercase; }

.header-inner, .footer-inner { margin-right: 40px; }
.header-inner li { list-style: none; text-transform: uppercase; margin: 0 0 1em 0; padding: 0; }
.header-inner a, .header-inner a:visited, .header-inner a:link { color: black; text-decoration: none; }

.code, .result, .object { font-size: 11px; border: 1px dashed #777; padding: 1em; width: 100%; margin: 1em 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.code { background-color: #EEE; }
.result { background-color: #EBECFF; }
.object { background-color: #FFFBEB; }

.result h1 { margin-bottom: 0.5em; }

ul.custom { list-style: none; padding-left: 20px; }
ul.custom > li:before { content: attr(data-content) '.'; padding-right: 7px; }

.editor { width: 100%; height: 100px; }
.execute { font-size: 1.5em; padding-left: 3em; padding-right: 3em; }
.result-container { display: none; }

.menu-root-radio { display:none; }
.menu-root-radio ~ div { display:none; }
.menu-root-radio:checked ~ div { display:block; }

@media only screen and (max-width: 990px) {
    .wrapper { width:95%; margin: 0 auto; }
    .box, header, footer { width: 100%; float: none; position: relative; }
    .author { margin-bottom: 1em; }
    .header-inner, .footer-inner { margin: 0px; }
    .header-inner ul { text-align: center; padding:0; }
    .header-inner li { display: inline-block; margin:0 1em; }
} 

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
